@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$textFont: 'Lato', sans-serif;

$greenTitleColor: #01996D;
$whiteTitleColor: white;
$whiteTextColor: white;


$navBorderColor: gainsboro;

$greenBackgroungColor: #245852;
$whiteBackgroundColor: white;
$blueBackgroundColor: rgba(1, 153, 109, 0.2);
$buttonBackgroundGreen: #01996D;


html, body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
}

.title {
    color: $greenTitleColor;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title-white {
    color: $whiteTitleColor;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pre-title {
    font-weight: 600;
    font-size: 25px;
}

.number-title {
    color: $greenTitleColor;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150px;
    opacity: 30%;
    position: absolute;
   
}

@mixin btn-base($backgroundColor, $textColor) {
    background-color: $backgroundColor;
    color: $textColor;
    font-size: 18px;
    font-family: $textFont;
    border: none;
    border-radius: 4px;
    margin: 4px 2px;
    padding: 15px 32px;
   
    &:hover {
        background-color:darken($backgroundColor,8%);
        transition: all 0.3s ease;
        cursor: pointer;
    }
}

.title-black {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

p{
    font-family: $textFont;
    font-size: 18px;
}

.sign-in-button {
  @include btn-base(transparent, black);
  border-radius: 0px;


}

.start-trial-button {
  @include btn-base($buttonBackgroundGreen,$whiteTextColor );

 
}

.find-your-way-button {
  @include btn-base($buttonBackgroundGreen,$whiteTextColor );
 

}

.get-started-button {
  @include btn-base($buttonBackgroundGreen,$whiteTextColor );


}

li:hover {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: $textFont;
    font-size: 18px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    width: 100%;
    border-color: $navBorderColor;
    padding-top: 10px;
    padding-bottom: 10px;
   

    .logo-container {
        display: flex;
        flex-grow: 2;
        justify-content: end;
        
        img {
           transform: translateY(75%);
        }
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        flex-grow: 4;
        flex-wrap: wrap;
        li {
            list-style-type: none;
            
          
        }
    }
    .nav-buttons-div {
        display: flex;
        flex-grow: 3;
        justify-content: center;


    }
}

main {
    height: 100%;
    margin: 0px;
    .section-1 {
        
        background-image: url('./assets/hero-image-background.png');
        background-repeat: round;
        height: 100vh;
        display: flex;

        .section-1-column-1{
            display: flex;
            flex-grow: 2;
            justify-content: center;
            .section-1-content-wrapper {
                width: 500px;
                transform: translateY(20%);
            }

        }

        .section-1-column-2{
            display: flex;
            flex-grow: 2;
        }
       
        
    }

    .section-2 {
        background-color: $whiteBackgroundColor;
        display: flex;
        flex-direction: column;
       
        &-row-1 {
            transform: translateY(100px);
            display:flex;
            flex-wrap: wrap;
            margin-bottom: 5%;
            &-column-1 {
                display: flex;
                flex-grow: 2;
                margin-left: 10%;
                justify-content: center;
                flex-basis: 0;
                &-cotennt-wrapper {
                    p {
                        margin: 0px;
                        overflow-wrap: break-word;
                    }
                }
             
            }
            &-column-2 {
                margin-right: 10%;
                display: flex;
                justify-content: center;
                flex-grow: 2;
                flex-basis: 0;
                
            }
            
        }
        &-row-2 {
            margin-top: 10%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            img {
                width: 340px;
                height: 440px;
                border-radius: 10px;
            }
            h3 {
                margin-top: 30%;
                text-align: center;
            }

            &-column-2 {
                transform: translateY(25%);
            }
            &-column-3 {
                transform: translateY(5%);

            }
            
        }
    }

    .section-3 {
        height: 100vh;
        margin-top: 20%;
        padding-bottom: 10%;
        background-color: $greenBackgroungColor;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        p {
            color: $whiteTextColor;
        }
        &-column-1 {
            margin-top: 15%;
            margin-bottom: 10%;
            h2 {
                margin-top: 15%;
            }

        }
        &-column-2 {
            margin-top: 15%;
            margin-bottom: 10%;
            position: relative;
            .section-3-img {
                width: 700px;
                height: 400px;
                position: relative;
            

            }
            .section-3-icon {
                
                position: absolute;
                transform: translate(-490%,190%);
                
            }
        }
    }

    .section-4 {
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        &-column-1 {
            &-img-wrapper {
                width: 640px;
                height: 570px;
                background-color: $blueBackgroundColor;
                border-radius: 20px;
                object-fit: contain;
                display: flex;
                justify-content: center;
            }
            hr{
                border-top: 1px solid black;
                width: 50%;
            }
            &-profile {
                padding: 20px;
                position: absolute;
                width: 250px;
                height: 250px; 
                background-color: $whiteBackgroundColor;
                border-radius: 4px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                transform: translate(-15%,-80%);
                &-wrapper {
                    display: flex;
                    justify-content: center;
                }
                &-image {
                    width:52px;
                    height: 52px;
                    background-color: $blueBackgroundColor;
                    border-radius: 50%;
                    overflow: hidden;
                    
                    img {
                        width:50px;
                        height: 60px;
                      
                    }
                }
               h1 {
                font-size: 14px;
                font-family: $textFont;
                font-weight: 600;
                text-align: center;
                }
                p {
                    font-size: 12px;
                    font-family: $textFont;
                    text-align: center;


                }
                h2 {
                    font-size: 16px;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    text-align: center;

                }
                li {
                    font-family: $textFont;
                    font-size: 11px;
                    font-weight: 400;
                }
            }
        }


      
    }
}


footer {
    position: absolute;
    background-color: $greenBackgroungColor;
    width: 100%;
    display: flex;
    padding-top: 5%;

    .footer-column-1 {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        .footer-content-wrapper {
            display:flex;
            flex-direction: column;
        }
        .footer-img-wrapper{
            display: flex;
            justify-content: center;
            margin-left: 20px;
        }
        ul {

            li {
                list-style-type: none;
                font-size: 25px;
                font-family: $textFont;
                color: $whiteTextColor;
                margin-top: 40%;
               
            }
            margin-bottom: 40%;
        }
    }

    .footer-column-2 {
        display:flex;
        flex-direction: column;
        flex-grow: 4;
    }

}
